.gallarywrap{
display: flex;
flex-wrap: wrap;
gap: 5px;
align-items: center;
justify-content: center;
 
margin: 0 auto;
}
.gallarywrap .single{
 
cursor: pointer;
}
.gallarywrap .single img{
    max-width:200px;

}
.gallarywrap .single img:hover{
   transform: scale(1.02);
}