header {
    padding: 20px;
    background-image: url('image/img1.jpg');
    background-size: cover;
    
    background-position: center;
    color: #fff; /* Set text color to white or adjust as needed */
  }
   
  .active:hover{
    font-weight: bold;
  }
  .float-end{
    margin-left:50%;
  }
  .card_height{
     height: 250px;
  }
  @media only screen and (min-width: 360px) {
    header { 
       background-image: url('image/img1.jpg'); 
    }
     
  }
   
  .header-content {
    padding:3%; /* Adjust the padding as needed */
  }
  .navbar{ 
    margin: auto;
    width:80%;
    padding:10px;
    border-radius: 20px;
  } 

   
  .text-right{
    text-align: right;
  }
.card{
  margin-top: 30px;
  padding:20px;
  margin:auto;
  width:80%;
  border: 1px solid white;
  box-shadow: 10px 10px 5px 10px rgba(6, 6, 6, 0.2);
}
 
.text{
  padding-top:30px;
  font-size: 60px;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card1{
  background-color: #f9e3e6;
  box-shadow: none !important;
  padding:5px; 
  
}
.custom-card{
  box-shadow: none !important;
  border: 0.2px solid white;
   
  
}
.image{
  border-radius: none;  
}
 
.card3{
  background-color: #dff0fe;
  border: 0.2px solid white;
  
}
.card-no-shadow{
  box-shadow: none;
   
  
  /* additional styles if needed */
}
.card_no_shadow{
  display: flexbox;
  box-shadow: none;
   height:320px;
   background-color: #f9e3e6;
   padding: 10px;
}
 
.custom_card_4{
  
  height: 150px;

}
.img_height1{
  height: 150px;

}
.img_height_2{
  height: 150px;

}
.custom-card2{
   padding:1%;
   border-radius: 10px;
}
.custom-card3{
 padding: 7%; 
  border-radius:10%;
}
/* .custom-card3:hover{
  padding: 0.1rem;
} */
.custom-color{
  background-color:hsl(36, 100%, 17%);
}
.custom-color2{
  background-color:hsl(36, 59%, 87%);
}
.custom-card5{
  box-shadow: none !important;
  border: 0.2px solid white;
  height: 440px; 
  
}
a{
  text-decoration: none;
  color: white;
}
 
span{
 justify-content: center;
}
.accordion{
  background: transparent !important;
   
}
.accordion2{
  background-color:hsl(36, 80%, 82%) ;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  
}
.btn-primary{
  background-color:white;
  width: 30%;
  margin: 3px;
  padding: 0.5rem;
  color: black;
}
.custom-card4{
  padding: 1%;
  border-radius:0.5rem;
  display: flex ;
   
}
 
.col_gap{
  margin-top: 20px;
} 
.font{
  font-family:cursive;
  font-weight: bolder;
  color: blueviolet;
  font-size:20px;
}
.h1_font{
  font-size:20px;
}
.online_text{
  font-size:1rem;
}
.text_bold{
  font-weight:bolder;
  color: #7a5e5e;
}
.card_image{
  padding: 4%;
  height: 200px;
}
@media (min-width:480px){
  .card{
    margin-top: 30px;
    padding:20px;
    margin:auto;
    width:80%;
    border: 1px solid white;
    box-shadow: 10px 10px 5px 10px rgba(6, 6, 6, 0.2);
  }
  .card_height{
    height: 500px;
    
  }
  .card_image{
    height:400px;
    
  }
  .custom-card5{
    box-shadow: none !important;
    border: 0.2px solid white;
    height: 540px;
    
  }
  .custom-card2{
    padding:2%;
    
    border-radius: 10px;
 }
 .online_text{
  font-size:2rem;
}
.font{
  font-family:cursive;
  font-weight: bolder;
  color: blueviolet;
  font-size:45px;
}
.h1_font{
  margin-top:50px;
  font-size:47px;
}
.custom-card3{
  padding: 1%; 
   border-radius:2rem;
 }
 .card_image{
  padding: 4%;
  height: 600px;
}
.custom_card_4{
  
  height: 400px;

}
.img_height1{
  height: 300px;

}
.img_height_2{
  height: 250px;
}
}