header {
    padding: 20px;
    background-image: url('image/img1.jpg');
    background-size: cover;
    background-attachment:scroll;
    background-position: center;
    color: #fff; /* Set text color to white or adjust as needed */
  }
   
  
  .header-content {
    padding:5%; /* Adjust the padding as needed */
  }
  .navbar{ 
    margin: auto;
    width:80%;
    padding:10px;
    border-radius: 20px;
  } 
   
  .text-right{
    text-align: right;
  }
.card{
  margin-top: 30px;
  padding:20px;
  margin:auto;
  width:80%;
  border: 1px solid white;
  box-shadow: 10px 10px 5px 10px rgba(6, 6, 6, 0.2);
}
 
.text{
  padding-top:30px;
  font-size:80px;
}
.card1{
  background-color: #f9e3e6;
  box-shadow: none !important;
  padding:5px; 
  
}
.custom-card{
  box-shadow: none !important;
  border: 0.2px solid white;
  
}
.image{
   
  border-radius: none;  
}
.card3{
  background-color: #dff0fe;
  border: 0.2px solid white;
  
}
.card-no-shadow{
  box-shadow: none;
  
  /* additional styles if needed */
}
.custom-card2{
   padding:10%;
   border-radius: 10px;
}
.custom-card3{
  padding:5%;
  border-radius:50px;
}
.custom-color{
  background-color:hsl(36, 100%, 17%);
}
.custom-color2{
  background-color:hsl(36, 59%, 87%);
}
a{
  text-decoration: none;
  color: white;
}
 
span{
 justify-content: center;
}
.accordion{
  background-color:hsl(36, 59%, 87%) ;
  border: none !important;
}
.accordion2{
  background-color:hsl(36, 59%, 87%) ;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  
}
.btn-primary{
  background-image: linear-gradient(20deg,red, blue);
  width: 30%;
  margin: 3px;
}
.custom-card4{
    
  border-radius:10px;
  display: flex;
   
}
 