.image_width{
    width: 100%;
}
.aboutus{
    background-image: url(/src/image/wedding.jpg);
    height:100vh;
}
.img_margin{
  margin-top: 10rem;
}
 
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width:650px) {
    .column {
      width: 100%;
      display: block;
    }
  }