.image_width{
    width: 100%;
    height:20rem;
}
.aboutus{
    background-image: url(/src/image/img1.jpg);
    filter: contrast(200%);
    height:130vh;
}

.img_margin{
  margin-top: 15rem;
}
 
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width:650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
.col1{
  
   
  border: 1px solid black;
}
.card_custom{
  box-shadow: none !important;
}
.text-bold{
  font-weight: bolder;
}
.span{
  display: inline;
  direction: none;
}
.card{
  box-shadow: none !important;
}
.icon_height{
  height: 12%;
  width:12%;
}
.grand{
  height:60vh;
  background-color:rgb(250, 3, 107);

  font-family: Georgia, 'Times New Roman', Times, serif;
}
.grand_content{
 
  margin-top: 20%;
   
}
.social_width{
   height:30px;
   width: 30px;
   margin: 2%;
  
}
 
@media (min-width:480px){
  .grand{
    
    height:100vh;
    background-color:rgb(250, 3, 107);
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .grand_content{
 
    margin-top: 30%;
     
  }
  .input_style{
    height: 60px;
    margin: 20px;
    border: 1px solid black;
    
  }
   
}
.input_style{
  height: 40px;
   
  border: 1px solid black;
}
.btn-info{
  height: 40px;
  width:80%;
  background-image: linear-gradient(90deg,rgb(255, 0, 162),rgb(144, 0, 255));
  color: white;

}