.navbar{ 
    margin: auto;
    width:80%;
    padding:15px;
  } 
  .float-end{
    margin-left:60%;
  }
  .form-control{
    border-radius:10px;
    margin: 5px;
  }
  .card_custom{
    box-shadow:0.5px 0.5px 1px 1px rgb(215, 215, 253);
    border: 2px solid white;

    /* background-color: whitesmoke; */
  }
  .card-shadow{
    box-shadow:0px 0px 5px 3px rgb(175, 232, 231);
    border: 2px solid white;
  }
   
/* .rounded{
  border: 2px solid black;
  border-radius:100%;
  margin: 20px;
} */
.card-border{
  box-shadow:0px 1px 1px rgb(226, 219, 219);
  border: 2px solid white;
}